* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: #e9e5d6;
}

section {
    width: 800px;
    height: 500px;
    background: url(./pictures/login.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: end;
    border-radius: 8px; 
    box-shadow:  0 4px 10px #464E2E, 0 2px 5px #B8B09C;
}

div,form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    padding: 40px;
}

h1 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
    color: #464E2E;
}

input {
    background-color: #e9e5d6;
    margin: 10px;
    padding: 7px;
    border: none;
    border-radius: 15px; 
    box-shadow:  0 2px 5px #464E2E, 0 1px 2.5px #B8B09C;
}
form p {
    text-align: right;
    margin-top: 15px;
    margin-bottom: 15px;
}
form p a{
    color:#464e2eda;
}

input[type=submit] { 
    box-shadow: none;
    background-color: #464E2E;
    color: #e9e5d6;
}

#signup {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #464E2E;
}

#signup a {
    color:#464e2eda;
}

@media (min-width : 768px) and (max-width : 992px) {
    section {
        width: 680px;
    }
}

@media (min-width : 480px) and (max-width : 768px) {
    section {
        width: 350px;
        background: url(./pictures/mobile.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: start;
        height: 600px;
    }

    div {
        padding: 20px;
    }
}

@media (max-width : 480px) {
    body {
        font-size: 10px;
    }
    section {
        width: 310px;
        background: url(./pictures/mobile.svg);
        background-position: bottom;
        background-repeat: no-repeat;
        justify-content: center;
        align-items: start;
        height: 550px;
    }

    div {
        padding: 10px 0 20px 0;
    }

    h1 {
        margin-bottom: 15px;
    }
  
    input {
        margin-left: 25px;
        margin-right: 25px;
    }
    
    form p {
        margin-right: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #signup {
        margin-top: 10px;
        margin-bottom: 5px;
    }
}


